{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "codeFrame": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "mocha": true
  }
}
