@font-face {
	font-family: 'Calendar Note TFB';
	src: url('../fonts/calendar_note_tfb-webfont.woff2') format('woff2'),
	url('../fonts/calendar_note_tfb-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
